<form id="registration_form">
	<div class="row">
		<div class="col-md-6 form-group">
		    <input type="text" class="form-control" id="first_name" placeholder="First Name" />
		</div>
		<div class="col-md-6 form-group">
		    <input type="text" class="form-control" id="last_name" placeholder="Last Name" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 form-group">
		    <input type="text" class="form-control" id="email_id" placeholder="Email id" />
		</div>
	</div>
   <button type="submit" class="btn btn-default">Register</button>
</form>
